<!-- <div class="login">
  <mat-card class="card-login">
    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="form-login">
      <div class="container">
        <h1>
          Iniciar Sesión
        </h1>
        <div class="form-field">
          <label class="field-name">Usuario</label>
          <span class="input-placeholder">
            <input placeholder="" formControlName="username" maxlength="51">
            <mat-error *ngIf="loginForm.controls.username.touched">
              <div *ngIf="loginForm.get('username').hasError('required')" class="error">Campo nombre de usuario es
                requerido</div>
                <div *ngIf="loginForm.get('username').hasError('maxlength')" class="error">Nombre de usuario debe tener
                  50 caracteres o menos</div>
                </mat-error>
              </span>
            </div>
            <div class="form-field">
              <label class="field-name">Contraseña</label>
              <span class="input-placeholder">
                <input type="password" formControlName="password" maxlength="51" [type]="hide ? 'password' : 'text'">
                <mat-icon class='placeholder' matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-hint *ngIf="!passwordInput.value"></mat-hint>
                <mat-error *ngIf="loginForm.controls.password.touched">
                  <div *ngIf="loginForm.get('password').hasError('required')" class="error">Campo contraseña es requerido
                  </div>
                  <div *ngIf="loginForm.get('password').hasError('maxlength')" class="error">Contraseña debe tener 50
                    caracteres o menos</div>
                  </mat-error>
                </span>
            </div>
          <button mat-raised-button [ngClass]="{'login-button': loginForm.valid}" type="submit"
            [disabled]="!loginForm.valid">Ingresar</button>
      </div>
    </form>
  </mat-card>
</div> -->
