<div class="patients">
  <h2 class="title">Lista de Pacientes</h2>
  <div class="filters">
    <div class="form-field">
      <label>Buscar por nombre </label>
      <input matInput class="code" type="text" placeholder="Nombre ..." (keyup)="filterBy(txtInput.value)" #txtInput>
    </div>
    <button mat-raised-button type="button" class="filter-button" (click)="clearFilter()">
      <mat-icon>
        clear
      </mat-icon>
    </button>
    <button mat-raised-button type="button" class="add-button" (click)="goToCreatePatient()">+ Nuevo Paciente</button>
  </div>
  <div class="patient-list">
    <mat-table [dataSource]="patients" class="mat-elevation-z3">
      <ng-container matColumnDef="patientFullName">
        <mat-header-cell *matHeaderCellDef>Nombres
        </mat-header-cell>
        <mat-cell *matCellDef="let patient">{{patient.firstName}} {{patient.lastName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="patientAge">
        <mat-header-cell *matHeaderCellDef>Edad
        </mat-header-cell>
        <mat-cell *matCellDef="let patient">{{patient.age}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="patientPhoneNumber">
        <mat-header-cell *matHeaderCellDef>Telefono
        </mat-header-cell>
        <mat-cell *matCellDef="let patient">{{patient.phoneNumber}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="patientCi">
        <mat-header-cell *matHeaderCellDef>Carnet de Identidad
        </mat-header-cell>
        <mat-cell *matCellDef="let patient">{{patient.ci}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="patientAmount">
        <mat-header-cell *matHeaderCellDef>Monto
        </mat-header-cell>
        <mat-cell *matCellDef="let patient">{{patient.amount}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="patientStatus">
        <mat-header-cell *matHeaderCellDef>Estado
        </mat-header-cell>
        <mat-cell *matCellDef="let patient">{{patient.status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="patientActions">
        <mat-header-cell *matHeaderCellDef class="header">Acciones</mat-header-cell>
        <mat-cell *matCellDef="let patient">
          <button mat-button (click)="goToEditPatient(patient)" class="actionButton" title="Editar">
            <mat-icon>
              edit
            </mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
    </mat-table>
    <br>
    <div *ngIf="patients.data.length === 0" class="empty"> No se encontraron pacientes</div>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" (page)="changeSize($event)"></mat-paginator>
</div>
