<div class="header-navbar">
  <div class="header-navbar-left">
    <div>
      <img src="../../../assets/img/Flow.Bo-Logo-RGB-3.png" class="header-navbar-logo-img" alt="An Image">
    </div>
    <div class="header-navbar-links ">
      <a [routerLink]="path.path" routerLinkActive="active_route" *ngFor="let path of paths">{{path.title}}</a>
      <!-- <div *ngFor="let path of paths">
        <a [routerLink]="path.path" routerLinkActive="active_route">{{path.title}}</a>
      </div> -->

    </div>
    <div class="logout">
      <button mat-button>Cerrar Sesión</button>
    </div>
  </div>
</div>
