.sidenav-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

mat-sidenav-container {
  height: 100vh;
  display: flex;
}


.sidenav {
  width: 20vh; /* Ancho del sidebar */
  background-color: accent;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  height: 100%;
  width: 100%;
}

mat-sidenav-content {
  flex: 1; /* Ocupará todo el espacio restante */
  display: flex;
  flex-direction: column;
}
