<div class="header-navbar">
  <div class="header-navbar-left">
    <div class="header-navbar-logo">
      <img src="../../../assets/img/medident-LOGO.png" class="header-navbar-logo-img" alt="An Image">

    </div>
    <div class="header-navbar-links" *ngIf="currentUser">
      <ng-container *ngFor="let path of paths">
        <a *ngIf="!path.view || path.view === currentUser?.role"
           [routerLink]="path.path"
           routerLinkActive="active_route">
          {{ path.title }}
        </a>
      </ng-container>
    </div>
    <div class="logout">
      <button mat-button (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
</div>
