$second-color: #0c8ce9;
$third-color: #C2B9CB;
$white: #FFFFFF;
$black: #000000;
$red: #F20909;
$blue: #149B9E;
$second-color-pressed: #4daff6;
$red-pressed: #C70606;
$blue-pressed: #118587;
$gray: #C2C2C2;
$bg-color: #EDEDED;
