/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat; // 🟢 Esto debe ir al inicio

// $nunito-typography: mat.define-typography-config(
//   $font-family: '"Nunito", sans-serif'
// );

@import "../node_modules/bootstrap/scss/bootstrap.scss"; // 🟢 Después de @use
@import "assets/colors.scss";
// @font-face {
//   font-family: "Nunito";
//   src: local("Nunito"), url(./assets/fonts/Nunito/Nunito-Regular.ttf) format("truetype");
// }

// @include mat.core($nunito-typography);

html, body { height: 100%; }
body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    background-color: #fafafa;
}
.cdk-overlay-pane {

    @media (max-width: 450px) and (min-height: 700px) {
        bottom: 180px !important;
    }

    @media (max-width: 500px) {
        bottom: 0 !important;
    }
}

.mat-mdc-snack-bar-container .mat-mdc-snack-bar-action {
  color: rgb(23, 150, 255) !important;
}
