@import '../../../assets/colors.scss';
@import '../../../assets/table.scss';

.users {
    @include container();
    .title{
        font-size: 32px;
        margin-block: 50px;
    }
    .filters {
        @include filter();
        .filter-button {
          @include success-button();
          font-size: 5px;
          margin-top: 5px;
          width: 12px;
          justify-self: start;
          border-radius: 15%;
          text-align: center
        }
        .add-button {
          @include sky-blue-button();
          margin-top: 5px;
          width: 100%;
        }
    }
    .user-list {
      @include table-view();
      .mat-elevation-z3 {
          width: 100%;
          mat-header-cell {
              @include header-table();
          }
          mat-cell {
              @include cell-distribution();
          }
          .order-button {
              @include order-button();
          }
          .order-button-touched {
              @include order-button-touched();
          }
          .actionButton {
              @include action-button();
          }
          .removeButton {
              @include action-button($red);
          }
          .activeButton{
            @include status-button($color-status);
          }
          .inactiveButton{
            @include status-button($red);
          }
      }
      .empty {
          font-size: 20px;
      }
  }
}

::ng-deep .mat-mdc-raised-button>.mat-icon {
  margin: 0;
}


mat-row.mat-mdc-row {
  border-bottom: 0.2px solid rgba($color: #202020, $alpha: 0.4);
}


mat-cell {
 margin-right: 0 !important;
}

// mat-table {
//   width: 100%;
//   table-layout: fixed; /* 🔹 Esto evita que los anchos se modifiquen automáticamente */
//   text-align: center;
// }

.mat-column-userFullName{
  min-width: auto;
  max-width: auto;
  text-align: start;
}

.mat-column-userEmail{
  min-width: auto;
  max-width: auto;
  text-align: start;
}

.mat-column-userTotalEvents {
  min-width: 60px;
  max-width: 80px;
  justify-content: center !important;
  text-align: center;
}

.mat-column-userPhoneNumer {
  min-width: 80px;
  max-width: 90px;
  justify-content: center !important;
  text-align: center;
}

.mat-column-userColor {
  min-width: 60px;
  max-width: 80px;
  justify-content: center !important;


}

.mat-column-userRole {
  min-width: 60px;
  max-width: 120px;

}


.mat-column-userStatus {
  min-width: 120px;
  max-width: 120px;
  justify-content: center !important;


}

.mat-column-userActions {
  min-width: 80px;
  max-width: 80px;
  justify-content: center !important;
  text-align: center;

}
