<div class="users">
  <h2 class="title">Lista de Usuarios</h2>
  <div class="filters">
      <div class="form-field">
          <label>Buscar por Nombre </label>
          <input matInput class="code" type="text" (keyup)="filterBy(txtInput.value)" #txtInput
              placeholder="Nombre ..." >
      </div>
      <button mat-raised-button type="button" class="filter-button" (click)="clearFilter()">
          <mat-icon>
              clear
          </mat-icon>
      </button>
      <button mat-raised-button type="button" class="add-button" (click)="goToCreateUser()">+ Nuevo Usuario</button>
  </div>
  <div class="user-list">
      <mat-table [dataSource]="users" class="mat-elevation-z3">
          <ng-container matColumnDef="userFullName" >
              <mat-header-cell *matHeaderCellDef>Nombres
                  <div>
                      <button   [ngClass]="{'order-button': !statuses.fullName, 'order-button-touched': statuses.fullName}">
                      </button>
                  </div>
              </mat-header-cell>
              <mat-cell *matCellDef="let user">{{user.firstName}} {{user.lastName}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="userEmail">
              <mat-header-cell *matHeaderCellDef>Correo
                  <div>
                      <button  [ngClass]="{'order-button': !statuses.email, 'order-button-touched': statuses.email}">
                      </button>
                  </div>
              </mat-header-cell>
              <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="userPhoneNumer">
            <mat-header-cell *matHeaderCellDef>Teléfono
                <div>
                    <button  [ngClass]="{'order-button': !statuses.phoneNumber}">
                    </button>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.phoneNumber}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="userTotalEvents">
              <mat-header-cell *matHeaderCellDef>Citas
                  <div>
                      <button  [ngClass]="{'order-button': !statuses.totalEvents, 'order-button-touched': statuses.totalEvents}">
                      </button>
                  </div>
              </mat-header-cell>
              <mat-cell *matCellDef="let user">{{user.totalEvents}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="userColor">
            <mat-header-cell *matHeaderCellDef>Color
                <div>
                    <button  [ngClass]="{'order-button': !statuses.color, 'order-button-touched': statuses.color}">
                    </button>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let user"><div [style]="{'background': user.color, 'width': '40px', 'border-radius': '10%', 'height': '20px'}"></div></mat-cell>
          </ng-container>
          <ng-container matColumnDef="userRole">
              <mat-header-cell *matHeaderCellDef>Rol
                  <div>
                      <button  [ngClass]="{'order-button': !statuses.role, 'order-button-touched': statuses.role}">
                      </button>
                  </div>
              </mat-header-cell>
              <mat-cell *matCellDef="let user">
                  <div *ngIf="user.role === 'admin'">Administrador</div>
                  <div *ngIf="user.role === 'user'">Usuario</div>
              </mat-cell>
          </ng-container>
          <ng-container matColumnDef="userStatus">
              <mat-header-cell *matHeaderCellDef>Estado
                  <div>
                      <button  [ngClass]="{'order-button': !statuses.isActive, 'order-button-touched': statuses.isActive}">
                      </button>
                  </div>
              </mat-header-cell>
              <mat-cell *matCellDef="let user">
                  <div *ngIf="user.isActive">
                      <button mat-raised-button  class="activeButton" (click)="updateStatus(user)"
                      matBadge="8" matBadgePosition="before" matBadgeColor="accent">
                      <mat-icon class="material-icons-outlined">
                          sentiment_very_satisfied
                      </mat-icon>
                  </button>
                  </div>
                  <div *ngIf="!user.isActive">
                      <button mat-raised-button class="inactiveButton" (click)="updateStatus(user)"
                      matBadge="8" matBadgePosition="before" matBadgeColor="accent">
                      <mat-icon class="material-icons-outlined">
                          sentiment_very_dissatisfied
                      </mat-icon>
                  </button>
                  </div>
              </mat-cell>
          </ng-container>
          <ng-container matColumnDef="userActions">
              <mat-header-cell *matHeaderCellDef class="header">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let user" >
                  <button mat-button  (click)="goToEditUser(user)" class="actionButton" title="Editar">
                      <mat-icon>
                          edit
                      </mat-icon>
                  </button>
              </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
      </mat-table>
      <br>
      <div *ngIf="users.data.length === 0" class="empty"> No se encontraron usuarios</div>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" (page)="changeSize($event)"></mat-paginator>
</div>
